# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sln
*.sdf
*.vcxproj
*.filters
*.suo
*.opensdf

# Precompiled Headers
*.gch
*.pdb
*.idb
tiny.tlog/
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.ilk

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.log
*.tlog
*.app
